
.select-job-items2 select {
  width: 160px;
  outline: none;
  position: relative;
  height: 25px;
  background-color: transparent;
  border-radius: 10px;
  padding-left: 5px;
  border: solid 1px #8b92dd;
  font-size: 14px;
}

.select-job-items2 label {
  width: 80px;
}

.submitBtn{
  padding :20px
}

.submitBtn button{
  width: 80px;
  height: 30px;
  outline: none;
  border: solid 1px #8b92dd;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  color: #8b92dd;
  font-size: 14px;
  font-weight: bold;
}

.submitBtn button:hover{
  background-color: #8b92dd;
  color: #fff;
}